.header {
    background-image: url('../../img/main/header img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    height: 100vh;
}
.header__inner {
   display: flex;
   flex-direction: column;
   min-height: 750px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
}
.header__logo {
    margin-top: 0px;
}
.header__nav {
    & a {
        text-decoration: none;
    }
}

.header__list {
    display: flex;
    column-gap: 35px;
    text-transform: uppercase;
}

.header__list-item {
    &:hover {
        border-bottom: 2px solid $white;
    }
}

.header__language {
    display: flex;
    column-gap: 8px;
}

.header__center {
    margin-top: 130px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
}

.header__bottom {
    margin-top: 53px;
}


@media (max-width: 1000px) { 
    .header {
        &__inner {
            // justify-content: space-between;
        }
    }
}
@media (max-width: 900px) { 
    .header {
        &__title {
            font-size: 40px;
        }
    }
}
@media (max-width: 730px) {
    .header {
        &__list {
            display: flex;
            flex-direction: column;
            &-item {
                margin: 5px 0;
            }
        }
        &__center {
            font-size: 30px;
        }
        &__title {
            font-size: 30px;
        }
    }
    .contacts__inner .contacts__ways-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .header {
        &__title {
            font-size: 25px;
        }
    }
 
}