
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


body {
    background-color: $white;
    color: $white;
    font-family: $font-main;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $white;
    &:hover {
        text-decoration: underline;
    }
}

textarea:focus {
    outline: none;
    padding-bottom: 0px;
}
textarea {
    border-bottom: 1px solid $white;
    height: 30px;
    resize: none;
}